$padding: 10px;
$colors: (primary: #b91df2);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

;

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.debug {
    border: 1px solid black;
}


body {
    background-color: rgba(0, 0, 0, 0.768);
    font-family: 'Nixie One', cursive;
    margin: 0;
    box-sizing: border-box;
    transition: 1.5s;


    .bg {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: lightgray;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        transition: 1.5s;
    }
}



.logo_container {
    height: 7vh;
    display: flex;
    padding: $padding;

    .extra_flex {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;

        .navbar {
            width: 13%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 18px;
            color: white;
            border-bottom: 1px solid transparent;
        }

        .extra_space {
            width: 10%;
            display: flex;
        }
    }

    #my_projects:hover {
        border-bottom: 1px solid #00f9bf;
    }

    #contact_me:hover {
        border-bottom: 1px solid #054cbf;
    }


    .navbar:hover {
        border-bottom: 1px solid color(primary);
    }

    .logo {
        color: white;
        font-size: 30px;
        font-weight: bold;
        outline: none;
        text-decoration: none;
        min-width: 350px;

        .rotate {
            color: color(primary);
            display: inline-block;
            animation: rotate 2s forwards infinite;
        }

        .blink {
            display: inline-block;
            color: white;
            animation: blink 1.2s forwards infinite;
        }

    }
}

@media screen and (max-width: 400px) {
    .logo_container {
        display: block;

        .extra_space {
            display: none;
        }

        .navbar {
            display: block;
            text-align: center;
            width: 100%
        }
    }

    .project_text {
        height: 90%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flex_grid {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .typewriter {
        padding: 5px 10px;
        display: flex;
        justify-content: flex-start;
        width: 70vw;
        height: 6vh;
        font-size: 30px;
        font-weight: bold;
        color: color(primary);
    }
}

.space {
    height: 20vh;

}

// start card page

.full_card_container {
    height: 80vh;
    width: 100vw;
    justify-content: space-around;
    display: none;

    .card_container {
        height: 100%;
        width: 90%;

        .card_txt_holder {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: flex-start;
            width: 30%;
            height: 100%;
            padding: 0 20px;


            .card_name {
                height: 20%;
                width: 100%;
                color: white;
                align-items: center;
                justify-content: left;
                font-size: 20px;
            }

            .card_time {
                height: 20%;
                width: 100%;
                color: white;
                font-size: 20px;
                padding: 10px 0;
                justify-content: left;
            }

            .card_description {
                height: 60%;
                width: 100%;
                padding: 10px 0px;
                color: white;
                font-size: 18px;
            }
        }

        .middle_box {
            display: flex;
            flex-direction: column;
            height: 90%;


            .card_photo {
                height: 80%;
                width: 80%;
                object-fit: contain;
            }

            .github {
                display: flex;
                font-size: 20px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
            }

            .skills {
                color: white;
                font-size: 30px;
                font-weight: bold;
                padding-bottom: 10px;
                border-bottom: 1px solid white;
            }
        }
    }

    .card_arrow_box {
        width: 20%;
        height: 100%;
        padding: 0 20px;


        .card_arrow {
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 10%;
            cursor: pointer;
            font-weight: bold;
            font-size: 20px;
            border-bottom: 1px solid color(primary);
            border-top: 1px solid color(primary);
        }
    }
}

// <!-- start project intro to trigger the function nextProject -->

.project_intro_container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;

    .project_text {
        width: 50%;
        height: 70%;
        display: flex;
        border-radius: 10%;
        background: rgba(255, 255, 255, 0.782);
        padding: 30px 20px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        align-items: center;

        span {
            color: color(primary);
            font-size: 25px;
            cursor: pointer;
        }
    }
}

// start things I like

.things_I_like {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vh;

    .like_big {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 20%;
        color: color(primary);
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 10px;
    }
}

.things_I_like_space {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5vh;


    .like {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 20%;
        color: white;
        font-size: 35px;
    }
}

.about_me_toggle {
    display: none;

    .about_me_container {
        display: grid;
        width: 100%;
        height: 80vh;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        border-top: 1px solid white;

        .content1 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: first 2s forwards 1s;
        }

        .content2 {
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: fourth 2s forwards 4s;
        }

        .content3 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: third 2s forwards 3s;
        }

        .content4 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: second 2s forwards 2s
        }

        .content5 {
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 5;
            grid-row-end: 6;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: fifth 2s forwards 5s;
        }

        .content6 {
            grid-column-start: 9;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: first 2s forwards 1s;
        }

        .content7 {
            grid-column-start: 8;
            grid-column-end: 10;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: second 2s forwards 2s
        }

        .content8 {
            grid-column-start: 10;
            grid-column-end: 12;
            grid-row-start: 3;
            grid-row-end: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: third 2s forwards 3s;
        }

        .content9 {
            grid-column-start: 9;
            grid-column-end: 11;
            grid-row-start: 4;
            grid-row-end: 5;
            border: 1px so;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: fifth 2s forwards 5s;
        }

        .content10 {
            grid-column-start: 11;
            grid-column-end: 13;
            grid-row-start: 5;
            grid-row-end: 6;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            font-weight: bold;
            color: white;
            opacity: 0;
            animation: fourth 2s forwards 4s;
        }

        .photo1 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            border-radius: 50%;
            height: 100%;
            width: auto;
            object-fit: contain;
            opacity: 0;
            animation: first 2s forwards 1s;
        }

        .photo2 {
            grid-column-start: 5;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 5;
            border-radius: 50%;
            height: 100%;
            width: auto;
            object-fit: contain;
            opacity: 0;
            animation: fourth 2s forwards 4s;
        }

        .photo3 {
            grid-column-start: 11;
            grid-column-end: 13;
            grid-row-start: 2;
            grid-row-end: 4;
            border-radius: 50%;
            height: auto;
            width: 90%;
            object-fit: contain;
            margin-right: 5px;
            opacity: 0;
            animation: third 2s forwards 3s;
        }

        .border1 {
            grid-column-start: 7;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
            border-left: 1px solid white;
        }

        .border2 {
            grid-column-start: 7;
            grid-column-end: 7;
            grid-row-start: 2;
            grid-row-end: 3;
            border-left: 1px solid white;
        }

        .border3 {
            grid-column-start: 7;
            grid-column-end: 7;
            grid-row-start: 3;
            grid-row-end: 4;
            border-left: 1px solid white;
        }

        .border4 {
            grid-column-start: 7;
            grid-column-end: 7;
            grid-row-start: 4;
            grid-row-end: 5;
            border-left: 1px solid white;
        }

        .border5 {
            grid-column-start: 7;
            grid-column-end: 7;
            grid-row-start: 5;
            grid-row-end: 6;
            border-left: 1px solid white;
        }

        @keyframes first {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes second {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes third {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fourth {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes fifth {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }
}

// start the contact me page



    .github_linkedin_text_container {
        display: none;
        width: 100vw;
        height: 88vh;

        .link_container {
            display: flex;
            width: 50%;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;

            .linkedin {
                width: 30%;
                height: 20%;

                img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1s;
                    filter: grayscale(0%);
                    transform: scale(0);
                    animation: linkedhub 1s forwards;

                }

                img:hover {
                    filter: grayscale(100%);
                }
            }

            .github {
                width: 30%;
                height: 20%;

                img {
                    width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                    transition: 1s;
                    filter: grayscale(0%);
                    transform: scale(0);
                    animation: linkedhub 1s forwards;
                }

                img:hover {
                    filter: grayscale(100%);
                }
            }

            @keyframes linkedhub {
                0% {
                    transform: scale(0);
                }

                100% {
                    transform: scale(1);
                }
            }
        }

        .text_box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;

            .text {
                display: flex;
                width: 100%;
                height: 65%;
                color: white;
                font-size: 22px;

                .span1 {
                    padding-top: 30px;
                    border-top: 1px solid white;
                }
            }
        }
    }
