$padding: 10px;
$colors: (primary: #b91df2);

@function color($color-name) {
    @return map-get($colors, $color-name)
};

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.debug {
    border: 1px solid black;
}


body {
    background-color: rgba(0, 0, 0, 0.768);
    // background-color: white;
    font-family: 'Nixie One', cursive;
    margin: 0;
    box-sizing: border-box;
    transition: 1.5s;


    .bg {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: lightgray;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        transition: 1.5s;
    }
}



.logo_container {
    height: 7vh;
    display: flex;
    padding: $padding;

    #my_projects:hover {
        border-bottom: 1px solid #00f9bf;
    }

    #contact_me:hover {
        border-bottom: 1px solid #054cbf;
    }

    .navbar {
        min-width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 18px;
        color: white;
        border-bottom: 1px solid transparent;
    }

    .navbar:hover {
        border-bottom: 1px solid color(primary);
    }

    .logo {
        color: white;
        font-size: 30px;
        font-weight: bold;
        outline: none;
        text-decoration: none;
        width: 30vw;

        .rotate {
            color: color(primary);
            display: inline-block;
            animation: rotate 2s forwards infinite;
        }

        .blink {
            display: inline-block;
            color: white;
            animation: blink 1.2s forwards infinite;
        }

    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flex_grid {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .typewriter {
        padding: 5px 10px;
        display: flex;
        justify-content: flex-start;
        width: 70vw;
        height: 6vh;
        font-size: 30px;
        font-weight: bold;
        color: color(primary);
    }
}

.space {
    height: 20vh;
    
}

// start card page

.full_card_container {
    height: 80vh;
    width: 100vw;
    justify-content: space-around;
    display: none;

    .card_container {
        height: 100%;
        width: 90%;

        .card_txt_holder {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: flex-start;
            width: 20%;
            height: 100%;
            padding: 0 20px;


            .card_name {
                height: 10%;
                width: 100%;
                color: white;
                align-items: center;
                justify-content: left;
                font-size: 20px;
            }

            .card_time {
                height: 10%;
                width: 100%;
                color: white;
                font-size: 20px;
                padding: 10px 0;
                justify-content: left;
            }

            .card_description {
                height: 80%;
                width: 100%;
                padding: 10px 0px;
                color: white;
                font-size: 18px;
            }
        }

        .middle_box {
            display: flex;
            flex-direction: column;
            height: 90%;


            .card_photo {
                height: 80%;
                width: 80%;
                object-fit: contain;
            }
            .github {
                display: flex;
                font-size: 20px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                border-bottom: 1px solid white;
                border-top: 1px solid white;
            }

            .skills {
                color: white;
            }
        }
    }

    .card_arrow_box {
        width: 20%;
        height: 100%;
        padding: 0 20px;


        .card_arrow {
            flex-direction: column;
            text-align: center;
            width: 100%;
            height: 10%;
            cursor: pointer;
            font-weight: bold;
            font-size: 20px;
            border-bottom: 1px solid color(primary);
            border-top: 1px solid color(primary);
        }
    }
}

// <!-- start project intro to trigger the function nextProject -->

.project_intro_container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;

    .project_text {
        width: 50%;
        height: 70%;
        display: flex;
        border-radius: 10%;
        background:rgba(255, 255, 255, 0.605);
        padding: 30px 20px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        align-items: center;

        span {
            color: color(primary);
            font-size: 25px;
            cursor: pointer;
        }
    }
}

// start things I like

.things_I_like {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5vh;

    .like_big {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 20%;
        color: color(primary);
        font-weight: bold;
        font-size: 30px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }
}

.things_I_like_space {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5vh;

    
    .like{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 20%;
        color: white;
        font-size: 25px;
    }
}
.about_me_toggle {
    display: none;

.about_me_container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;

    .about_left {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-around;

        .one {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .two {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .tree {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .four {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .five {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
    }

    .about_right {
        height: 100%;
        width: 50%;
        display: flex;
        text-align: right;   
        flex-direction: column;
        justify-content: space-around;

        .one {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        
            
        }
        .two {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .tree {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .four {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
        }
        .five {
            height: 0.2%;
            width: 0%;
            background:rgba(255, 255, 255, 0.605);
            }
        }
    }
}

.white {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.animation1  {
    animation: about_me forwards 3s 0.4s;

    @keyframes about_me {
        0%{width: 0%;}
        100%{width: 15%;}
    }

    .p1 {
        animation: pAnimation1 1.5s forwards 3.2s;
        opacity: 0;

        @keyframes pAnimation1 {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

.animation2  {
    animation: about_me2 forwards 3s 0.8s;

    @keyframes about_me2 {
        0%{width: 0%;}
        100%{width: 30%;}
    }
    .p2 {
        animation: pAnimation2 1.5s forwards 3.4s;
        opacity: 0;

        @keyframes pAnimation2 {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

.animation3  {
    animation: about_me3 forwards 3s 1.2s;

    @keyframes about_me3 {
        0%{width: 0%;}
        100%{width: 45%;}
    }
    .p3 {
        animation: pAnimation3 1.5s forwards 3.6s;
        opacity: 0;

        @keyframes pAnimation3 {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

.animation4  {
    animation: about_me4 forwards 3s 1.6s;

    @keyframes about_me4 {
        0%{width: 0%;}
        100%{width: 60%;}
    }
    .p4 {
        animation: pAnimation4 1.5s forwards 3.8s;
        opacity: 0;

        @keyframes pAnimation4 {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

.animation5  {
    animation: about_me5 forwards 3s 2s;

    @keyframes about_me5 {
        0%{width: 0%;}
        100%{width: 75%;}
    }
    .p5 {
        animation: pAnimation5 1.5s forwards 4s;
        opacity: 0;

        @keyframes pAnimation5 {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }
}

