.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.debug {
  border: 1px solid black;
}

body {
  background-color: rgba(0, 0, 0, 0.768);
  font-family: 'Nixie One', cursive;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

body .bg {
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: lightgray;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.logo_container {
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.logo_container .extra_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.logo_container .extra_flex .navbar {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid transparent;
}

.logo_container .extra_flex .extra_space {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo_container #my_projects:hover {
  border-bottom: 1px solid #00f9bf;
}

.logo_container #contact_me:hover {
  border-bottom: 1px solid #054cbf;
}

.logo_container .navbar:hover {
  border-bottom: 1px solid #b91df2;
}

.logo_container .logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  min-width: 350px;
}

.logo_container .logo .rotate {
  color: #b91df2;
  display: inline-block;
  -webkit-animation: rotate 2s forwards infinite;
          animation: rotate 2s forwards infinite;
}

.logo_container .logo .blink {
  display: inline-block;
  color: white;
  -webkit-animation: blink 1.2s forwards infinite;
          animation: blink 1.2s forwards infinite;
}

@media screen and (max-width: 400px) {
  .logo_container {
    display: block;
  }
  .logo_container .extra_space {
    display: none;
  }
  .logo_container .navbar {
    display: block;
    text-align: center;
    width: 100%;
  }
  .project_text {
    height: 90%;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flex_grid {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex_grid .typewriter {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70vw;
  height: 6vh;
  font-size: 30px;
  font-weight: bold;
  color: #b91df2;
}

.space {
  height: 20vh;
}

.full_card_container {
  height: 80vh;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.full_card_container .card_container {
  height: 100%;
  width: 90%;
}

.full_card_container .card_container .card_txt_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 30%;
  height: 100%;
  padding: 0 20px;
}

.full_card_container .card_container .card_txt_holder .card_name {
  height: 20%;
  width: 100%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 20px;
}

.full_card_container .card_container .card_txt_holder .card_time {
  height: 20%;
  width: 100%;
  color: white;
  font-size: 20px;
  padding: 10px 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.full_card_container .card_container .card_txt_holder .card_description {
  height: 60%;
  width: 100%;
  padding: 10px 0px;
  color: white;
  font-size: 18px;
}

.full_card_container .card_container .middle_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
}

.full_card_container .card_container .middle_box .card_photo {
  height: 80%;
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.full_card_container .card_container .middle_box .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.full_card_container .card_container .middle_box .skills {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.full_card_container .card_arrow_box {
  width: 20%;
  height: 100%;
  padding: 0 20px;
}

.full_card_container .card_arrow_box .card_arrow {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 10%;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #b91df2;
  border-top: 1px solid #b91df2;
}

.project_intro_container {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80vh;
}

.project_intro_container .project_text {
  width: 50%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10%;
  background: rgba(255, 255, 255, 0.782);
  padding: 30px 20px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project_intro_container .project_text span {
  color: #b91df2;
  font-size: 25px;
  cursor: pointer;
}

.things_I_like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5vh;
}

.things_I_like .like_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  color: #b91df2;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
}

.things_I_like_space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 5vh;
}

.things_I_like_space .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  color: white;
  font-size: 35px;
}

.about_me_toggle {
  display: none;
}

.about_me_toggle .about_me_container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 80vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid white;
}

.about_me_toggle .about_me_container .content1 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: first 2s forwards 1s;
          animation: first 2s forwards 1s;
}

.about_me_toggle .about_me_container .content2 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: fourth 2s forwards 4s;
          animation: fourth 2s forwards 4s;
}

.about_me_toggle .about_me_container .content3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: third 2s forwards 3s;
          animation: third 2s forwards 3s;
}

.about_me_toggle .about_me_container .content4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: second 2s forwards 2s;
          animation: second 2s forwards 2s;
}

.about_me_toggle .about_me_container .content5 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: fifth 2s forwards 5s;
          animation: fifth 2s forwards 5s;
}

.about_me_toggle .about_me_container .content6 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: first 2s forwards 1s;
          animation: first 2s forwards 1s;
}

.about_me_toggle .about_me_container .content7 {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 10;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: second 2s forwards 2s;
          animation: second 2s forwards 2s;
}

.about_me_toggle .about_me_container .content8 {
  -ms-grid-column: 10;
      grid-column-start: 10;
  grid-column-end: 12;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: third 2s forwards 3s;
          animation: third 2s forwards 3s;
}

.about_me_toggle .about_me_container .content9 {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  border: 1px so;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: fifth 2s forwards 5s;
          animation: fifth 2s forwards 5s;
}

.about_me_toggle .about_me_container .content10 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 13;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  opacity: 0;
  -webkit-animation: fourth 2s forwards 4s;
          animation: fourth 2s forwards 4s;
}

.about_me_toggle .about_me_container .photo1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 50%;
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  -webkit-animation: first 2s forwards 1s;
          animation: first 2s forwards 1s;
}

.about_me_toggle .about_me_container .photo2 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
  border-radius: 50%;
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  -webkit-animation: fourth 2s forwards 4s;
          animation: fourth 2s forwards 4s;
}

.about_me_toggle .about_me_container .photo3 {
  -ms-grid-column: 11;
      grid-column-start: 11;
  grid-column-end: 13;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  border-radius: 50%;
  height: auto;
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
  opacity: 0;
  -webkit-animation: third 2s forwards 3s;
          animation: third 2s forwards 3s;
}

.about_me_toggle .about_me_container .border1 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  border-left: 1px solid white;
}

.about_me_toggle .about_me_container .border2 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  border-left: 1px solid white;
}

.about_me_toggle .about_me_container .border3 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  border-left: 1px solid white;
}

.about_me_toggle .about_me_container .border4 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  border-left: 1px solid white;
}

.about_me_toggle .about_me_container .border5 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 6;
  border-left: 1px solid white;
}

@-webkit-keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes first {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes second {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes third {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fourth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fourth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fifth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fifth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.github_linkedin_text_container {
  display: none;
  width: 100vw;
  height: 88vh;
}

.github_linkedin_text_container .link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.github_linkedin_text_container .link_container .linkedin {
  width: 30%;
  height: 20%;
}

.github_linkedin_text_container .link_container .linkedin img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: linkedhub 1s forwards;
          animation: linkedhub 1s forwards;
}

.github_linkedin_text_container .link_container .linkedin img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.github_linkedin_text_container .link_container .github {
  width: 30%;
  height: 20%;
}

.github_linkedin_text_container .link_container .github img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: linkedhub 1s forwards;
          animation: linkedhub 1s forwards;
}

.github_linkedin_text_container .link_container .github img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@-webkit-keyframes linkedhub {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes linkedhub {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.github_linkedin_text_container .text_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.github_linkedin_text_container .text_box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 65%;
  color: white;
  font-size: 22px;
}

.github_linkedin_text_container .text_box .text .span1 {
  padding-top: 30px;
  border-top: 1px solid white;
}
/*# sourceMappingURL=main.css.map */